* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  margin: 0 auto;
  font-family: "Lexend Deca", sans-serif;
  color: #333745;
}

header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #c7efcf;
}

.description {
  text-align: center;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}

fieldset {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#cards-container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #eef5db;
  padding-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  outline: none;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  color: #333745;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-bottom: 1px solid;
}

input[type="number"] {
  width: 80px;
  background-color: transparent;
}

input[type="date"] {
  width: 110px;
  height: 30px;
  background-color: transparent;
}

input[type="text"] {
  width: 150px;
  background-color: transparent;
}

input[type="submit"] {
  padding: 5px;
  font-family: "Lexend Deca", sans-serif;
  color: #333745;
  width: 60px;
  font-weight: bold;
  border-radius: 4px;
}

span {
  width: 150px;
  text-align: left;
  line-height: 30px;
}

select#ny-category-select {
  width: 150px;
  font-family: "Lexend Deca", sans-serif;
  color: #333745;
}

select#month,
select#year,
select#category,
select#sort,
select#category-selected {
  padding: 5px;
  font-family: "Lexend Deca", sans-serif;
  color: #333745;
}
input#amount {
  background-color: #fff;
}
input#notes,
input#amount {
  border: none;
  height: 30px;
  border-radius: 4px;
}

input#notes {
  outline: none;
  font-family: "Lexend Deca", sans-serif;
  color: #333745;
}

.select-container {
  display: flex;
  justify-content: space-between;
}
.card-container {
  width: 50vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid;
}

.delete-button,
.edit-button,
.reset-button {
  padding: 5px;
  font-family: "Lexend Deca", sans-serif;
  color: #333745;
  border-radius: 4px;
  width: 60px;
}

.delete-button {
  background-color: #e63462;
}

.edit-button {
  background-color: #fe5f55;
}

p {
  padding-top: 10px;
}
